@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  --background1: #e2f6e4;
  --background2: #ffffff;
  --background3: #f5f5f5;
  --button-background1: #2ebb77;
  --button-background2: #29a76a;
  --color-paragraph: #7e7e7e;
}
p {
  color: var(--color-paragraph);
}
/*Topbar*/
.topbar {
  background-color: var(--background1);
  min-height: 50px;
}
.topbar button {
  border-radius: 7px;
  cursor: pointer;
}
.topbar button:hover {
  background-color: var(--button-background1);
  color: white;
}
/*Navbar*/
.navLinks {
  margin: 0 auto;
}
.navLinks a:hover {
  color: var(--button-background1);
}

/*Hero Section*/

.leftSlide h3 {
  color: #b479d9;
  background-color: #f4ebf9;
  max-width: 180px;
  height: 40px;
  border-radius: 40px;
  font-size: 18px;
}
.leftSlide p {
  line-height: 32.4px;
  color: var(--color-paragraph);
}
.defaultbtn {
  width: 164px;
  height: 56px;
  background-color: var(--button-background1);
  color: white;
  border-radius: 12px;
  cursor: pointer;
}
.defaultbtn:hover {
  background-color: var(--button-background2);
}
.smallBorder {
  border: 1px solid var(--color-paragraph);
}

/*TextSlider*/
.typewriter {
  height: 95px;
  line-height: 1.5em;
  overflow: hidden;
}
.typewriter li {
  position: relative;
  top: 0;
  animation: slide 19s steps(3) infinite;
}
@keyframes slide {
  100% {
    top: -300px;
  }
}

.typewriter li span::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 10px;
  width: 545px;
  height: 80px;
  background-color: var(--background2);
  border-left: 2px solid black;
  animation: typing 2s steps(16) infinite alternate;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 40px 0 40px;
  }
}
/*Main Sections*/
.step-number {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 7px 30px 0px;
}
.step-number:hover {
  background-color: var(--button-background2);
  color: #ffffff;
}

.step-number::before {
  content: '';
  position: absolute;
  top: 150%;
  width: 2px;
  height: 250px;
  background: repeating-linear-gradient(to bottom, #cbd5e14f 0px, #cbd5e14f 5px, transparent 5px, transparent 10px);
}

ul li:last-child .step-number::before {
  display: none;
}
/*Main Section 2*/
.mainSection2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background3);
  width: 1905px;
}
.list-container {
}
.list-feature {
  font-size: 20px;
  font-weight: 700;
}
.list-feature .selected-item.active {
}
.selected-item {
  padding: 30px 30px 15px;
}

.list-description {
  font-weight: normal;
  padding: 0px 30px 15px;
  width: 70%;
  font-weight: 500;
  font-size: 18px;
}
.selected-item.active,
.list-description {
  width: 494px;
}
.img-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
